/* custom properties, rem(font size base), box-sizing */
:root {
  box-sizing: border-box;
  font-size: 62.5%;
  --headerColor: rgb(219, 76, 63);
  --iconColor: rgb(255, 255, 255);
  --inboxColor: rgb(36, 111, 224);
  --todayColor: rgb(5, 133, 39);
  --upcomingColor: rgb(105, 47, 194);
  --filterColor: rgb(236, 132, 22);
  --downArrowColor: rgb(130, 130, 130);
  --circleColor: rgb(184, 184, 184);
  --crudColor: rgb(128, 128, 128);
  --navColor: rgb(250, 250, 250);
  --navTextColor: #202020;
  --navNumberColor: rgb(205, 185, 179);
  --navNumberToday: rgb(229, 89, 88);
  --navHoverColor: rgb(238, 238, 238);
  --addColor: rgb(221, 75, 57);
}

/* border- box on all elements */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove system-level styling on inputs used by browsers */
/* input {
  appearance: none;
} */

/* Defines a height for html so that we can use percentages */
/* Keep overflowed items like nav bar hidden */
html {
  height: 100%;
  overflow: hidden;
}

/* background-color, margins, fonts */
/* body extends whole viewport and no scrolling issues */
/* font-size by default is 16px */
body {
  height: 100%;
  min-height: 100vh;
  font-family: Helvetica;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Header Start */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--headerColor);
  padding: 0.5rem;
}

header button {
  background-color: transparent;
  border-style: none;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

header svg {
  color: var(--iconColor);
  width: 2.4rem;
  height: 2.4rem;
  vertical-align: middle;
}

.header-left button {
  width: 2.8rem;
  height: 2.8rem;
}

.header-right button {
  width: 3.2rem;
  height: 3.2rem;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-left: 3.5rem;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  margin-right: 3.5rem;
}

header button:hover {
  background-color: rgb(226, 112, 101);
  border-radius: 5px;
}

/* Header End */

/* Work Area Start (contains nav and main) */

.work-area {
  flex: 1;
  display: flex;
}

/* Work Area End (contains nav and main) */

/* Nav Start */
nav {
  max-width: 30rem;
  width: 100%;
  background-color: var(--navColor);
  transition-duration: 0.5s;
  position: absolute;
  height: 100%;
}

nav li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex: 1;
}

a:visited {
  color: inherit;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0px;
  padding-left: 3.7rem;
  height: 100%;
}

nav svg {
  width: 2.4rem;
  height: 2.4rem;
}

#inbox {
  color: var(--inboxColor);
}

#today {
  color: var(--todayColor);
}

#upcoming {
  color: var(--upcomingColor);
}

#downArrow {
  color: var(--downArrowColor);
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 0.4rem;
  vertical-align: middle;
  transition-duration: 0.1s;
}

nav span {
  color: var(--navTextColor);
  font-size: 14px;
  line-height: 1.7rem;
}

.number {
  color: var(--navNumberColor);
  margin-right: 2rem;
}

.number-today {
  margin-right: 2rem;
  color: var(--navNumberToday);
}

#projects-title {
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

ul li:not(.no-hover):hover {
  background-color: var(--navHoverColor);
  border-radius: 5px;
}

.activeProject {
  background-color: var(--navHoverColor);
  border-radius: 5px;
}

svg {
  width: 2rem;
  height: 2rem;
}

.projects {
  padding: 0px;
}

#a {
  padding: 0px;
}

li ul {
  width: 100%;
}

.projects span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.projects li .dot, .projects span svg {
  width: 1rem;
  height: 1rem;
  margin: .7rem;
}

#addProjectButton {
  background-color: transparent;
  border-style: none;
  display: flex;
  align-items: center;
  margin-right: .95rem;
  padding: 0.6rem;
}

#addProjectButton svg {
  width: 1.7rem;
  height: 1.7rem;
  color: rgb(102, 102, 102);
}

#addProjectButton:hover {
  background-color: var(--navHoverColor);
  border-radius: 5px;
  cursor: pointer;
}

.slideOut {
  transform: translate(-300px, 0);
  height: 100%;
  max-width: 30rem;
}

.slideIn {
  transform: translate(0, 0);
}

.shiftOut {
  margin-left: 0rem;
}

.shiftIn {
  margin-left: 35rem;
}

.rotateRight {
  transform: rotate(-90deg);
}

.rotateDown {
  transform: rotate(0);
}

#a {
  overflow: hidden;
}

.hide {
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  max-height: 0px;
}

.show {
  transition: max-height 1s ease-in-out;
  max-height: 1000px !important;
}

/* Nav End */

/* Main Start */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 35rem;
  transition-duration: 0.5s;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  margin-top: 3rem;
  gap: 1rem;
}

.container-title {
  font-size: 2rem;
  font-weight: 900;
}

/* 
input[type="checkbox"] {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 1px solid rgb(130, 130, 130);
  margin-right: 1rem;
   }
 */

/* Checkbox gray */
.checkbox__gray {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input__gray {
  display: none;
}

.checkbox__box__gray {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid rgb(130, 130, 130);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  flex-shrink: 0;
  transition-duration: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox__input__gray + .checkbox__box__gray::after {
  content: url(../images/check.svg);
  height: 2.4rem;
  width: 2.4rem;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox__input__gray:hover + .checkbox__box__gray::after {
  content: url(../images/check.svg);
  height: 2.4rem;
  width: 2.4rem;

  opacity: 1;
}

.checkbox__input__gray:checked + .checkbox__box__gray::after {
  content: url(../images/check_white.svg);
  height: 2.4rem;
  width: 2.4rem;
  opacity: 1;
}

.checkbox__input__gray:checked + .checkbox__box__gray {
  background-color: rgb(130, 130, 130);
  animation-duration: 0.3s;
  animation-name: expand;
}

/* CheckBox Gray End */

/* CheckBox Red Start  */

.checkbox__red {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input__red {
  display: none;
}

.checkbox__box__red {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid rgb(209, 69, 59);
  background-color: rgb(250, 236, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  flex-shrink: 0;
  transition-duration: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox__input__red + .checkbox__box__red::after {
  content: url(../images/check_red.svg);
  height: 2.4rem;
  width: 2.4rem;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox__input__red:hover + .checkbox__box__red::after {
  content: url(../images/check_red.svg);
  height: 2.4rem;
  width: 2.4rem;

  opacity: 1;
}

.checkbox__input__red:checked + .checkbox__box__red::after {
  content: url(../images/check_white.svg);
  height: 2.4rem;
  width: 2.4rem;
  opacity: 1;
}

.checkbox__input__red:checked + .checkbox__box__red {
  background-color: rgb(209, 69, 59);
  animation-duration: 0.3s;
  animation-name: expand;
}

/* Red Checkbox End */

/* Yellow CheckBox Start */

.checkbox__yellow {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input__yellow {
  display: none;
}

.checkbox__box__yellow {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid rgb(238, 152, 41);
  background-color: rgb(253, 243, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  flex-shrink: 0;
  transition-duration: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox__input__yellow + .checkbox__box__yellow::after {
  content: url(../images/check_yellow.svg);
  height: 2.4rem;
  width: 2.4rem;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox__input__yellow:hover + .checkbox__box__yellow::after {
  content: url(../images/check_yellow.svg);
  height: 2.4rem;
  width: 2.4rem;

  opacity: 1;
}

.checkbox__input__yellow:checked + .checkbox__box__yellow::after {
  content: url(../images/check_white.svg);
  height: 2.4rem;
  width: 2.4rem;
  opacity: 1;
}

.checkbox__input__yellow:checked + .checkbox__box__yellow {
  background-color: rgb(240, 166, 70);
  animation-duration: 0.3s;
  animation-name: expand;
}

/* Yellow CheckBox End */

/* Blue CheckBox Start */

.checkbox__blue {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input__blue {
  display: none;
}

.checkbox__box__blue {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid rgb(36, 111, 224);
  background-color: rgb(233, 240, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  flex-shrink: 0;
  transition-duration: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox__input__blue + .checkbox__box__blue::after {
  content: url(../images/check_blue.svg);
  height: 2.4rem;
  width: 2.4rem;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox__input__blue:hover + .checkbox__box__blue::after {
  content: url(../images/check_blue.svg);
  height: 2.4rem;
  width: 2.4rem;

  opacity: 1;
}

.checkbox__input__blue:checked + .checkbox__box__blue::after {
  content: url(../images/check_white.svg);
  height: 2.4rem;
  width: 2.4rem;
  opacity: 1;
}

.checkbox__input__blue:checked + .checkbox__box__blue {
  background-color: rgb(36, 111, 224);
  animation-duration: 0.3s;
  animation-name: expand;
}

/* Blue CheckBox End */

@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.todo-row {
  display: flex;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 1rem 0rem;
  align-items: flex-start;
}

.edit-menu-styles {
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 1rem;
}

.todo-column {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}


.task-name {

}



.todo-title {
  font-size: 1.4rem;
  color: var(--navTextColor);
}

.todo-description {
  color: var(--crudColor);
  font-size: 1.2rem;
}

.todo-date {
  color: var(--crudColor);
  font-size: 1.2rem;
  display: flex;
  gap: 0.2rem;
}

.todo-date::before {
  content: url("./../images/todo-date.svg");
  width: 1.2rem;
  height: 1.2rem;
}

.todo-date::before svg {
  width: 1.2rem;
  height: 1.2rem;
}

/* Todo Item Buttons Start */

.todo-actions {
  display: flex;
  height: 100%;
  gap: 1rem;
  margin-left: auto;
  opacity: 0; 
}

#calendar {
  width: 2.4rem;
  height: 2.4rem;
}

#pencil {
  width: 2.4rem;
  height: 2.4rem;
}

 .todo-row:hover .todo-actions{
  opacity: 1 !important;
} 

.todoProject svg {
  display: none;
  margin: 0px !important;
}

.todoProject:hover svg{
display: block;
margin-right: 1.5rem !important;
margin-bottom: .2rem !important;
}


.todoProject:hover .number{
  display: none;
  }
  

/* Todo Item Buttons End */

.add-task-row {
  display: flex;
  align-items: center;
}

.add-icon {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}

.add-icon::before {
  content: url("./../images/add1.svg");
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.21rem;
  margin-bottom: 0.32rem;
}

.add-task-row:hover .add-icon::before {
  content: url("././../images/add-hover.svg");
}

.add-task-row:hover .add-task {
  color: rgb(222, 81, 63);
}

.add-task {
  font-size: 1.4rem;
  color: var(--crudColor);
}

/* Button */
.add-task-button {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.changeTaskColor {
  color: rgb(222, 81, 63);
}

.changeTaskColor {
  color: rgb(222, 81, 63);
}

/* Main End */

/* Edit Todo Item Editor Start */

input[type="date"] {
  display: inline;
  width: 115px;
  border: 1px solid rgb(204, 204, 204);
  color: #555555;
  padding: 0.3rem 0.3rem;
  font-size: 1.3rem;
  border-radius: 5px;
  
}

input[type="date"]:hover {
  background-color: var(--navHoverColor);
  border-radius: 5px;
  transition: 0.3s;
}

.options:hover, .edits:hover {
  background-color: var(--navHoverColor);
  border-radius: 5px;
  transition: 0.3s;
}

.edit-todo-menu textarea,
input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  resize: none;
  color: var(--navTextColor);
}



.edit-todo-menu textarea {
  font-size: 1.3rem;
  
}

.edit-todo-menu textarea::placeholder {
  font-size: 1.3rem;
  opacity: 0.9;
}

.edit-todo-menu input[type="text"] {
  font-size: 1.4rem;
}

.edit-todo-menu input[type="text"]::placeholder {
  font-size: 1.4rem;
  opacity: 0.9;
}

.edit-todo-menu  {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.edit-todo-menu-actions {
  display: flex;
  width: 100%;
  gap: 0.8rem;
  position: relative;
}

.edit-todo-menu-flag {
  border: none;
  color: #555555;
  border-radius: 5px;
  font-size: 1.3rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.3rem 0.3rem;
  position: absolute;
  right: 0;
}

.edit-todo-menu-flag:hover {
  background-color: var(--navHoverColor);
  border-radius: 5px;
}

.edit-todo-menu-footer {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
}
.edit-todo-menu-add-task {
  background-color: rgb(219, 76, 63);
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  border: none;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
}

.cancel-button {
  background-color: rgb(245, 245, 245);
  color: #1a1a1a;
  border-radius: 5px;
  font-size: 1.3rem;
  border: none;
  padding: 0.8rem 1.2rem;

  font-weight: 600;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}

.edit-todo-menu-container {
  display: none;
}

/* Fixed Modal*/

.absolute {
  display: block;
  position: fixed;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 10px;
  padding: 2rem;
  max-width: 55rem !important;
  width: 100%;
  z-index: 5 !important;
}

.absolute input {
  position: relative;
  z-index: 5 !important;

}
.absolute .select{
  z-index: 5 !important;

}

.no-border {
  border: none;
  padding: 0px;
  z-index: 5 !important;

}

.foot-margin {
  margin-top: 2rem;
  z-index: 5 !important;

}

/* Fixed Modal End */

/* Edit Todo Item Editor End */

.edit-todo-menu-project {
  border: 1px solid rgb(204, 204, 204);
  color: #555555;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-width: 7rem;
  position: relative;
}

/* DropDown Styles */

/* Dropdown container */
.dropdown {
  font-size: 1.3rem;
  min-width: 10rem;
position: relative;
}

/* Selected item with caret */
.select {
  border: 1px solid rgb(204, 204, 204);
  color: #555555;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 100%;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.select:not(.flag .select):hover {
  background-color: var(--navHoverColor);
  border-radius: 5px;
}

.select svg:hover {
  background-color: var(--navHoverColor);
  border-radius: 5px;
  transition: 0.3s;
}

/* Clicked Styles
   Added with JavaScript 
*/

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(153, 153, 153);
  transition: 0.3s;
  margin-left: 1rem;
}

/* Rotate Styles 
   Added with JavaScript 
*/

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  color: #555555;
  background-color: white;
  position: absolute;
  top: 1.5rem;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

/* project menu styles*/
.editMenu .menu {
  width: min-content;
  white-space: nowrap;
  min-width: 100px;
}


.menu li {
  padding: 0.7rem 0.5rem;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.menu li:hover {
  background-color: var(--navHoverColor);
}

/* Active styles */
/* Added with JavaScript  */

.active {
  background-color: var(--navHoverColor);
}

/* Open styles */
/* Added with JavaScript  */

.menu-open {
  display: block;
  opacity: 1;
}

/* Flag */
.flag {
  min-width: 0 !important;
  position: absolute;
  color: #555555;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: white;
  right: 0;
  background-color: transparent;
}

.flag .select {
  padding: 0.3rem 0rem;
  border: none;
}

.flag .menu {
  min-width: 12rem;
  right: 1rem;
}

.flag-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* Dots */

.dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.berry-red {
  background-color: rgb(184,37,95);
}

.red {
background-color: rgb(219,64,53);
}

.orange{
  background-color: rgb(255,153,51);
}

.yellow {
  background-color: rgb(250,208,0);
}

.olive-green{
  background-color: rgb(175,184,59);
}

.lime-green{
  background-color: rgb(126,204,73);
}

.green{
background-color: rgb(41,148,56);
}

.mint-green{
background-color: rgb(106,204,188);
}

.teal{
  background-color: rgb(21,143,173);
}

.sky-blue{
  background-color: rgb(20,170,245) ;

}

.light-blue{
  background-color: rgb(150,195,235);

}

.blue{
  background-color: rgb(64,115,255) ;

}


.grape{
  background-color: rgb(136,77,255);

}

.violet {
  background-color: rgb(175,56,235) ;

}



.lavender {
  background-color: rgb(235,150,235);

}

.magenta {
  background-color: rgb(224,81,148) ;

}

.salmon{
  background-color: rgb(255,141,133) ;

}

.charcoal {
  background-color: rgb(128, 128, 128);

}


.grey {
  background-color: rgb(184,184,184);

}


.taupe {
  background-color: rgb(204, 172, 147) ;
}

.project-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  padding-top: 0rem;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -35%);
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 10px;
  max-width: 35rem !important;
  min-height: 37rem; 
  width: 100%;
  z-index: 55 !important;  
  /* overflow: hidden; */

}


.project-modal-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  gap: 2rem;

}

.project-modal-content label {
  font-size: 1.4rem;
  font-weight: 700;
  color: #202020;
}

.project-modal-content input {
  border: 1px solid rgb(221,221,221);
  border-radius: 5px;
  padding: .5rem .5rem;
  transition-duration: .3s;
  margin-top: 1rem;
  font-size: 1.4rem;
}


.project-modal-content .select {
  padding: .672rem .5rem;
  border: 1px solid rgb(221,221,221);
  margin-top: .9rem;

}
.project-modal-content .selected {
  display: flex;
  align-items: center;
  gap: 1rem;
  vertical-align: middle;
  font-size: 1.4rem;
  margin-left: .7rem;
}

.project-modal-content li {
  display: flex;
  gap: 1rem;
  z-index: 55 !important;
}

.project-modal-content .dropdown {
}


.project-modal-content .menu{
max-height: 110px; 
max-height: 240px; 
overflow-y: scroll;
top: 2.5rem;

}



.project-modal-content input:focus{
  border: 1px solid rgb(128,128,128);
}

.add-project {
  background-color: rgb(250,250,250);
  font-size: 1.6rem;
  color: #202020;
  font-weight: 700;
  border-bottom: 1px solid rgb(221,221,221);
  overflow: hidden;
  padding: 2rem 2rem;
  padding-bottom: 1.3rem;
  display: flex;
  align-items: center;

}



.project-modal-footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
  gap: 1rem;
 border-top: 1px solid rgb(221,221,221);
 background-color: rgb(250,250,250);

}

.project-modal-footer button {
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
}

.project-modal-footer .add {
  background-color: rgb(219,76,63);
  color: white;
 
}
.project-modal-footer .cancel {
  
  background-color: rgb(243,243,243);
  border: 1px solid rgb(221,221,221);
 
}






/* Contextual Menu */




.wrapper {
  position: absolute;
  width: 175px;
  visibility: hidden;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 10px;
  transform-origin: top left;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.wrapper1 {
  position: absolute;
  width: 160px;
  visibility: hidden;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 10px;
  transform-origin: top left;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.appear {
  visibility: visible;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.wrapper .contextMenu {
 
  margin-top: .4rem;
  margin-bottom: .4rem;

  padding: 0px;
}

.wrapper1 .contextMenu {
 
  margin-top: .6rem;
  margin-bottom: .6rem;

  padding: 0px;
}

.contextMenu svg {
  width: 20px;
  height: 20px;
}

.content .item {
  list-style: none;
  font-size: 13px;
  height: 40px;
  padding: 0 5px 0 10px;
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 4px;
  font-weight: 400;

}

.activeTodoItem {
  background-color: rgb(238,238,238);
}


.move {
  height: 100%;
  display: flex;
  align-items: center;
}


.content .item:hover{
  background: #f2f2f2;
}

.content .item span {
  margin-left: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #202020;
  margin-top: .6rem;
}




.content .share {
  justify-content: space-between;
  position: relative;
}

.share span {
  margin-left: 15px !important;
}

.share .share-menu{
  position: absolute;
  background: #ffffff;
  width: 200px;
  padding: 0px;
  right: -200px;
  top: -35px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 10px;
  padding: 13px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2 ease;
  border: 1px solid #ddd;
}

.share-menu span {
  color: #202020;

}

.share:hover .share-menu {
  opacity: 1;
  pointer-events: auto;
}

.share-menu .dot {
  margin-right: 1rem;
  margin-left: .35rem;
}
.share-menu svg {
  margin-right: .55rem;
}